section#contact.pages.page-contact(style='height:auto')
		div.container
			article
				div.row-fluid
					div.span12
						a(href='/')
							figure.span12 
								img(src='/img/uPrintoologo.png', alt='Printoo', title='Printoo', width='145px')
					div.span3(style="margin: 0;")
						a.terminos.span12(href="/privacidad") Aviso de Privacidad
						a.terminos.span12(href="/terminos_condiciones", style="margin:0;padding:0;margin-top: 15px;") Términos y Condiciones de Uso
					div.span3.offset1
						div.span12.center
							table
								tr
									td
										h6.center.span12 &nbsp;&nbsp;WE LOVE MAIL!
										p.correo.span12 hola@printoo.me
					div.span3.offset1
						h5.span12.center SOMOS SOCIALES
						div#social-contact.social-printoo.center.span12
							ul
								li
									a.facebook(href='https://www.facebook.com/pages/Printoo/1475470072669968', target="_blank")
										//--img(src='/img/contacto/facebook.png')
								li
									a.twitter(href='https://twitter.com/printoome', target="_blank")
										//--img(src='/img/contacto/twitter.png')
					div.span12
						p.offset3.center.span5.copy-right © 
							small 2014 uPrintoo Todos los derechos reservados. Developed by: <a class='innomobs' href='http://www.innomobs.com' target='_blank'>Innomobs</a>