extends layout

block content
	include menu
	
	section#portada.slide
		section.img-portada
			//--img(src='/img/portadas/portada.jpg', width='100%', height='100%')
		section.centrada
			div
				div.row-fluid.center
					div.info-principal.span12
						h1.texto-principal Mensualmente manda a <br> imprimir y recibe en tu casa <br> tus fotos favoritas.
						h3.span12.sub-principal Sin pagar nada de nada . 
						<br><br><br><br><br><br><br><br>
						div.span5.center.offset5.godown
							a.arrow-down(href='#div-2')

	section#div-2.slide
		section.info-portada
			div.container
				div.row-fluid.center
					div.span12.center(style='margin-left:30px')
						a.offset5.arrow-up(href='#portada')
					<br><br><br><br><br><br>
					h3.texto-portada 7 de cada 10 personas han <br> fotografiado momentos increíbles.
					<br><br><br><br>
					div.span12
						a.offset5.arrow-down(href='#div-3')
		section.img-portada
			//--img(src='/img/portadas/skater.jpg', width='100%', height='100%')

	section#div-3.slide
		section.info-portada
			div.container
				div.row-fluid.center
					div.span12.center(style='margin-left:30px')
						a.offset5.arrow-up(href='#div-2')
					<br><br><br><br><br><br>
					h3.texto-portada 8 de cada 10 viajeros tomaron fotos <br> que valen la pena imprimir.
					<br><br><br><br>
					div.span2.center.offset5.godown
						a.arrow-down(href='#div-4')
		section.img-portada
			//--img(src='/img/portadas/ban.jpg', width='100%', height='100%')

	section#div-4.slide
		section.info-portada
			div.container
				div.row-fluid.center
					div.span12.center(style='margin-left:30px')
						a.offset5.arrow-up(href='#div-3')
					<br><br><br><br><br><br>
					h3.texto-portada 6 de cada 10 personas han borrado <br> digitalmente fotos irrebatibles.
					<br><br><br><br>
					div.span5.center.offset5.godown
						a.arrow-down(href='#div-5')
		section.img-portada
			//--img(src='/img/portadas/celular.jpg', width='100%', height='100%')
	
	section#div-5.slide
		section.info-portada
			div.container
				div.row-fluid.center
					div.span12.center(style='margin-left:30px')
						a.offset5.arrow-up(href='#div-4')
					<br><br><br><br><br><br>
					h3.texto-portada 4 de 5 cada  enamorados regalarían más fotos <br> si fuera más fácil imprimirlas.
					<br><br><br><br>
					div.span5.center.offset5.godown
						a.arrow-down(href='#div-6')
		section.img-portada
			//--img(src='/img/portadas/parejaparaguas.jpg', width='100%', height='100%')
	
	section#div-6.slide
		section.info-portada
			div.container
				div.row-fluid.center
					div.span12.center(style='margin-left:30px')
						a.offset5.arrow-up(href='#div-5')
					<br><br><br><br>
					h3.texto-portada <strong><span class='tiny negrita'>u</span><span style="font-weight:bold">Printoo</span></strong> te ayuda con las fotos que tomas.<br>Ólvidate de la flojera de ir a imprimirlas y dile <br> <span style="font-weight:bold">hola</span> a la comodidad de recibirlas en tu casa.
					<br><br><br><br>
					div.span5.center.offset5.godown
						a.arrow-down(href='#div-7')
		section.img-portada
			//--img(src='/img/portadas/papahijo.jpg', width='100%', height='100%')

	section#div-7.slide
		section.info-features
			div.container
				div.row-fluid
					div.span12.center(style='margin-left:30px; margin-top:-60px')
						a.offset5.arrow-up(href='#div-6')
					div.span11
						div.span4.feature
							div.span12.center
								div.tag
							h2.center.title-feature ¿Por qué es <br> gratis?
							div.info.span10.offset1
								p.center Porque detrás <br> de las fotos <br> ponemos <br> cupones y <span style="font-weight:bold">publicidad</span> <br> no invasiva.

						div.span4.feature
							div.span12.center
								div.guest
							h2.center.title-feature ¿Por qué es <br> gratis?
							div.info.span10
								p Desde nuestra <br> aplicación móvil o <br> sitio web escoges las <br> fotos que quieres <br> imprimir, dale enviar <br> y <span style="font-weight:bold">listo</span> las recibes <br> por correo postal.

						div.span4.feature
							div.span12.center
								div.gift
							h2.center.title-feature ¿En qué me <br> beneficia?
							div.info-li.span11
								ul
									li
										p te olvidas de buscar e ir al lugar  donde imprimir tus fotos.
									li
										p puedes enviar como <span style="font-weight:bold">regalo</span> fotos a quienes tu quieras.
									li
										p Toma una foto desde tu celular y la puedes mandar a imprimir inmediatamente.
					<br><br>
					div.span12.center
						a.arrow-down.offset5(href='#div-8')
		section.img-portada
			//--img(src='/img/portadas/velero.png', width='100%', height='100%')

	section#div-8.slide
		section.info-portada-ultima
			div.container
				div.row-fluid.center
					div.span12.center(style='margin-left:30px')
						a.offset5.arrow-up(href='#div-7')
					<br><br>

					h3.texto-portada Regístrate para poder utilizar nuestra versón <span class="negrita"> Beta </span> y tener la <br> oportunidad de recibir <span class="negrita">fotos ilimitadas</span> de por vida.

				div.span10.newlester
					div.row-fluid.center
						div.registro-newlester.span10.offset1
							form.span12(method='POST', action='/registro/newlester', name='newlester_register_form')#newlester_register_form
								input#txtMail(type='email',name='txtMail', placeholder='Mi email es...' required='required')
								//--button.btn.btn-primary.registrar(type='submit', id='btnLoginNewlester') Registrar
								a.submit.registrar(href="#")
									img(src='/img/iconos/btn_enviar.png')


	include footer
block scripts
	//--if ambiente === 'dev'
	script(src='/js/vendors/jquery.min.js')				
	//--else
		//--script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	script(src='/js/vendors/jquery.parallax-1.1.3.min.js')				
	script(src='/js/vendors/modernizr.min.js')				
	script(src='/js/vendors/jquery.scrollTo.min.js')
	script(src='/js/vendors/localscroll.js')				
	script(src='/js/printoo.js')			