nav#navigation.fixed-top
	div.container
		div.row-fluid
			div.span12.center
				a.brand.pull-left(href='/')
					img(src='/img/uPrintoologo.png', alt='Printoo', width='125')
				div.mobile-menu(data-toggle='collapse',data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				ul#main-menu.nav-collapse.collapse.pull-right
					li
						p COMPARTE
					li
						a.facebook-share(href='https://www.facebook.com/pages/Printoo/1475470072669968', target="_blank")

					li
						a.twitter-share(href='https://twitter.com/printoome', target="_blank")