nav.fixed-top
		div.navegacion
			div.brand
				a(href='/')
					img(src='/img/uPrintoologo.png', alt='Printoo')
			
			div.text-header
				a.top-link(href='#div-8', style="color: transparent;font-size: 14px;text-transform: uppercase;text-decoration: underline;") Quiero ser parte de la Versión Beta

			div.social-menu
				ul
					li
						p COMPARTE
					li
						a.facebook-share(href='https://www.facebook.com/pages/Printoo/1475470072669968', target="_blank") tw
					li
						a.twitter-share(href='https://twitter.com/printoome', target="_blank") tw

					li
						a.instagram-share(href='http://instagram.com/printoo.me ', target="_blank") tw