extends layout

block content
	include menu

	section.span12.terminos-privacidad
		div
			h1.titulo-terminos AVISO DE PRIVACIDAD

			article
				p.texto-terminos En cumplimiento a lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de Particulares (en adelante “LA LEY”), se pone a disposición de solicitantes, usuarios y cualquier otra persona (en adelante “el Titular”) que por cualquier motivo conceda a Imprimiendo a color SA de CV . y/o a cualquier otra de sus subsidiarias o personas físicas relacionadas con el grupo económico (en adelante “La EMPRESA”), información personal (en adelante “la información”), el siguiente aviso referente al tratamiento que se le brindará a los datos personales que se involucren en la utilización del portal  y la recopilación de datos y relacionados con los servicios de la explotación comercial del concepto U PRINTOO: <br>

			article
				h3.sub-terminos I. Domicilio del responsable que recaba los datos.

				p.texto-terminos La empresa tiene como domicilio las oficinas situadas en San Pedro Garza García Nuevo León. México <br>

			article
				h3.sub-terminos II. Información que se recaba de los titulares.

				p.texto-terminos Los datos personales que serán recabados de usted como “el Titular” de los mismos, y que “la empresa” necesita para brindar los servicios consistentes en almacenamiento temporal de imágenes, transmisión de mensajes e imágenes por medio de portal web e impresión y facilitación de ejemplar físico de fotografía y gestiones intermedias relacionas con el conjunto del servicio, son aquellos datos de identificación personal consistentes en (listado enunciativo no limitativo) y respetando lo establecido en el artículo 11 de “la Ley”:

				div.row-fluid
					div.span5.offset1
						ul.span12
							li
								p Fotografía.
							li
								p Nombre.
							li
								p Lugar y fecha de nacimiento.
							li
								p Acta de nacimiento.
							li
								p Nacionalidad.
							li
								p Número de teléfono particular.
							li
								p CURP.
							li
								p Dirección Postal.

					div.span5
						ul.span12
							li
								p Fotografía.
							li
								p Nombre.
							li
								p Lugar y fecha de nacimiento.
							li
								p Acta de nacimiento.

			article
				h3.sub-terminos III. Finalidad del uso de los datos personales.

				p.texto-terminos Indistintamente del método que "La Empresa" utilice para la recolección de datos personales y en cumplimiento del artículo 16 de “la LEY”, “el Titular" desde el momento en que utiliza alguno de los PRODUCTOS, SERVICIOS, CONTENIDO Y/O REALIZA  VISITAS al portal electrónico perteneciente a la misma, y/o proporciona sus datos personales a "la Empresa" está de acuerdo en que estos sean almacenados en forma confidencial por “la empresa” para no divulgarlos ni hacer un fin diferente al de facilitar información comercial  y con el fin de que "el titular" por sí mismo o mediante terceros pueda desarrollar las siguientes actividades necesarias para el cumplimiento de su objetivo: <br>

				div.span12
					ul 
						li.list-terminos PROVEER LOS SERVICIOS Y PRODUCTOS REQUERIDOS			
						li.list-terminos INFORMAR SOBRE CAMBIOS O NUEVOS SERVICIOS PRESTADOS Y RELACIONADOS CON EL CONCEPTO			
						li.list-terminos DAR CUMPLIMIENTO A OBLIGACIONES CON LOS USUARIOS			
						li.list-terminos GARANTIZAR EL CONTENIDO DEL SITIO WEB		
						li.list-terminos IDENTIFICACIÓN Y ENLACE DE PRODUCTOS Y SERVICIOS
						li.list-terminos MANIFESTACIÓN Y ACTUALIZACIÓN DE PRODUCTOS Y SERVICIOS		
						li.list-terminos ENLACE UNICA Y EXCLUSIVAMENTE CON LA EMPRESA			
						li.list-terminos CONFIRMACIÓN DE INFORMACIÓN DE LA EMPRESA			
						li.list-terminos PARA MANTENER UNA COMUNICACIÓN DIRECTA CON LOS USUARIOS A EFECTO DE MEJORAR LA <br> PRESTACIÓN DE LOS SERVICIOS

				p.texto-terminos U PRINTOO ha adoptado las medidas de seguridad, administrativas, técnicas y físicas, necesarias para proteger sus datos personales contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado, incluyendo la custodia de los documentos que contengan sus datos personales en archivos bajo llave. <br>

				p.texto-terminos El acceso a sus datos personales, en poder de U PRINTOO, se limitará a las personas que necesiten tener acceso a dicha información, con el propósito de llevar a cabo las finalidades identificadas en este Aviso de Privacidad. <br>

				p.texto-terminos La temporalidad del manejo de los datos personales será indefinida a partir de la fecha en que usted los proporciono a U PRINTOO, contando con la posibilidad de oponerse en cualquier momento en que lo considere oportuno.<br>

				p.texto-terminos U PRINTOO no vende, cede o transfiere sus datos personales a terceros ajenos a U PRINTOO sin su consentimiento previo. Sin embargo, podrán transferirse sus datos personales cuando dicha transferencia esté prevista en la Ley. <br>

			article
				h3.sub-terminos IV. Consentimiento.

				p.texto-terminos Al proporcionar sus datos personales por cualquier medio a (pagina web)  usted acepta la recopilación, uso, divulgación, procesamiento y transferencia de esta información, de acuerdo a los términos establecidos en el presente Aviso de Privacidad, sin que esto implique que los mismos serán divulgados o utilizados para actos diversos no relacionados con la facilitación de las actividades de “la empresa”.<br>

				p.texto-terminos El presente aviso de privacidad estará al alcance de cualquier usuario por medio de facilitarlo a cada uno de los consumidores interesados o disponible por medio del portal electrónico www.printoo.me, en respeto a lo contenido en el artículo 17 de “la Ley”.<br>

			article
				h3.sub-terminos V. Derechos "Arco".
				p.texto-terminos Usted, como titular de datos personales podrá ejercitar ante el Departamento de Protección de Datos Personales de U PRINTO, cuya dirección electrónica eswww.printoo.me , los derechos de acceso, rectificación, cancelación y oposición (derechos ARCO), establecidos por la Ley y en respeto al artículo 28 de la Ley. Asimismo, podrá revocar, en todo momento, el consentimiento que haya otorgado y que fuere necesario para el tratamiento de sus datos personales. A manera de referencia a continuación se describen los derechos de acceso, rectificación, cancelación y oposición:<br>
				p.texto-terminos Acceso: “El Titular” podrá comunicarse con “La Empresa” ya sea vía correo electrónico o por medio del teléfono que más abajo se detallan, para saber o aclarar cualquier duda relativa al uso de sus datos personales por parte de “La Empresa”. <br>
				p.texto-terminos Rectificación: En cualquier momento “el Titular” podrá solicitar a “La Empresa” que cualquiera de sus datos sea corregido, en caso de que se tengan administrados y registrados de manera equivocada. <br>
				p.texto-terminos Cancelación: “El titular” podrá solicitar a “La Empresa” que cancele o elimine sus datos siempre y cuando exista una causa que justifique dicha acción y no tenga obligaciones vigentes o sin resolver frente a La Empresa.<br>
				p.texto-terminos Oposición: En caso de que “el Titular” no tenga relación u obligación legal alguna con “La Empresa” y decida no comprar ninguno de sus productos o servicios, puede hacer uso de éste derecho, no compartiendo dato alguno.<br>

			article
				h3.sub-terminos VI. Medio de Acceso/rectificacón/revocación y/cancelación del consentimiento para el tratamiento de los datos personales.
				p.texto-terminos En todo momento “el Titular” podrá acceder y rectificar la información proporcionada, además que tendrá el derecho de revocar el consentimiento otorgado a “La Empresa” para el tratamiento de sus datos personales, a fin de que “La Empresa” deje de hacer uso de los mismos. Para ello, es necesario que presente su petición enviando un correo electrónico a hola@printoo.me en donde deberá mencionar su deseo de acceder, rectificar, revocar y/o cancelar su consentimiento de uso de sus datos personales. A los siete días hábiles posteriores a su solicitud se le enviará la confirmación a la dirección electrónica que ha realizado la solicitud. En caso de no recibir respuesta a su solicitud puede contactarnos a través del teléfono: 1967-6007 / 1971-1112. El facilitador de protección de datos personales por cuenta de La Empresa, es el departamento de Operaciones, encargado de dar trámite a las solicitudes del Titular, para el ejercicio de los derechos a que se refiere la Ley <br>

			article
				h3.sub-terminos VII. Modificaciones al aviso de privacidad.
				p.texto-terminos Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos y prácticas del mercado. <br><br>De existir algún cambio en nuestro aviso de privacidad, este se publicará en el sitio web www.printoo.me y se les notificará vía correo electrónico a los titulares correspondientes.

			article
				h3.sub-terminos VIII. Uso de Cookies
				p.texto-terminos Cuando usted visita este sitio, puede navegar por el sitio y obtener información sin revelar su identidad. A fin de mejorar nuestro sitio, utilizamos “cookies” para hacer un seguimiento de su visita. Una cookie es una pequeña cantidad de datos que se transfieren a su navegador a través de un servidor Web y solo puede leerla el servidor que se la proporcionó. Funciona como su tarjeta de identificación y posibilita que U PRINTOO registre su historial de usuario. No puede ejecutarse como un código ni puede trasmitir virus. Las cookies nos ayudan a mejorar nuestro sitio y a prestarle un servicio mejor y más personalizado. Las cookies nos posibilitan:

				div.row-fluid
					div.span12
						ul
							li.list-terminos Estimar el tamaño y pauta de utilización de nuestra audiencia.
							li.list-terminos Almacenar información acerca de sus preferencias y, por lo tanto, nos permiten adaptar nuestro sitio a sus intereses individuales.
							li.list-terminos Acelerar sus búsquedas.
							li.list-terminos Reconocerle cuando usted vuelve a visitar nuestro sitio.

				p.texto-terminos En principio, la mayoría de los navegadores están configurados para aceptar las cookies. Usted puede negarse a aceptar cookies activando la configuración de su navegador que le permite denegar que se almacenen las cookies en su sistema. No obstante, si selecciona esta configuración tal vez no pueda acceder a ciertas zonas de nuestro sitio. A menos que usted haya adaptado la configuración de su navegador para que pueda rechazar las cookies, nuestro sistema emitirá cookies cuando usted se registre en nuestro sitio.<br><br>Ponemos en su conocimiento que nuestros anunciantes también pueden utilizar cookies, sobre las que nosotros no tenemos control


			article
				h3.sub-terminos IX. Almacenamiento de Datos personales:
				p.texto-terminos Cuando proporciona sus datos personales y no manifiesta su oposición, se entenderá que está aceptando de forma tacita esta transferencia, almacenaje o procesado. Tomaremos todas las medidas necesarias razonables para garantizar que sus datos se traten de manera segura y de conformidad con este aviso de privacidad. <br><br>Toda la información que usted nos proporciona se almacena en nuestros servidores seguros. Cuando le hayamos proporcionado (o cuando usted haya elegido) una contraseña que le permita acceder a ciertas zonas de nuestro sitio, usted es responsable de mantener confidencial dicha contraseña. Le rogamos que no comparta una contraseña con nadie.<br><br>Lamentablemente, la transmisión de información a través de Internet no es completamente segura. Aunque hacemos todo lo que está en nuestras manos para proteger sus datos personales, no podemos garantizar la seguridad de los datos que usted trasmite a nuestro sitio; cualquier transmisión se hará bajo su responsabilidad. Una vez que hayamos recibido su información, utilizaremos procedimientos y características de seguridad estrictos para evitar cualquier acceso no autorizado.<br><br>En caso de tener dudas o comentarios respecto del Aviso de Privacidad o si quisiera ejercitar cualquiera de los derechos que la Ley le otorga, le pedimos contacte al Área de Atención y Servicio de U PRINTOO, a través de la siguiente dirección de correo electrónico: hola@printoo.me.

		include footer

