extends layout

block content
	include menu

	section#portada.slide
		section.img-portada
			img(src='/img/portadas/agradecimiento.png', width='100%', height='50%')
		section.centrada-success
			div
				div.row-fluid.center
					div.info-principal.span12
						h1.texto-principal-sucess Gracias, que te haya gustado nuestra idea, <br> nos impulsa a salir a buscar nuestros sueños.
						div#social-contact.sucess-printoo.center.span12
							ul
								li
									//--div.fb-share-button(data-href="http://printoo.me" data-type="button")
									a.facebook-success(onclick="openFbPopUp();")
									//--a.facebook-success(target="_blank", href="https://www.facebook.com/dialog/feed?app_id=113869198637480&link=http://printoo.me&picture=http://printoo.me/img/uPrintoologo.png&name=uPrintoo&caption=StartupsMexicanas&description=Yo%20tendré%20fotos%20gratis%20gracias%20a%20#printoo%20tú%20también%20regístrate%20y%20#apoyastartupsmexicanas&redirect_uri=http://www.google.com")
									//--a.facebook-success(target="_blank", href="https://www.facebook.com/dialog/feed?app_id=113869198637480&link=http://woobox.com&picture=http://woobox.com/img/v2/logo.png&name=Woobox%20Name&caption=Turn%20your%20Facebook%20Page%20into%20your%20most%20powerful%20business%20tool%20with%20Woobox!&description=This%20is%20a%20description.&redirect_uri=https://woobox.com/app/143103275748075")
										//--img(src='/img/contacto/facebook.png')
								li.offset3
									//--a.twitter-success(href='https://twitter.com/uprintoo', target="_blank")
									a.twitter-success(href='https://twitter.com/intent/tweet?button_hashtag=apoyastartupsmexicanas&text=Yo%20tendré%20fotos%20gratis%20gracias%20a%20@Printoome%20tú%20también%20regístrate%20y%20', target="_blank")
						h3.italic-portada-success.span12 Más compartes y más posibilidades tienes de ser de los primeros en utilizar uPrintoo Beta.
						h2.hashtag #apoyastartupsmexicanas

	include footer