@media only screen and (min-width: 768px) and (max-width:959px)
	body
		margin 0
		padding 0

	nav
		height 75px
		.navegacion
			width 100%
			height 75px

			img
				width 95%

			div.brand, div#pull
				display inline-block
				vertical-align middle
			div.brand
				text-align center
				width 40%

			div#pull
				width 50%
				text-align right
				cursor pointer
				img
					width 35px
			div#menu-responsive
				width 100%
				background-color rgb(255, 255, 255)

				ul
					list-style none

					li
						padding-top 25px

			div.text-header
				display none
				/*padding-top 10px
				padding-bottom 10px
				background-color #9df41c*/

			div.social-menu
				display none
				/*text-align center
				margin-top -10px
				ul
					li:first-child
						display none*/

	.facebook-share, .twitter-share, .instagram-share
		font-size 40px
	.twitter-share
		background-position -45px 0
		&:hover
			background-position -45px 0
	.instagram-share
		background-position -90px 0
		&:hover
			background-position -90px 0
			
	.centrada
		width 90%

	section.img-portada
		width 100%
		height 650px

	#portada
		section.img-portada
			background url('/img/portadas/responsive/portada_959.jpg') center 0 no-repeat fixed
			background-size cover

	#div-2
		section.img-portada
			background url('/img/portadas/responsive/skater_959.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-3
		section.img-portada
			background url('/img/portadas/responsive/ban_959.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-4
		section.img-portada
			background url('/img/portadas/responsive/celular_959.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-5
		section.img-portada
			background url('/img/portadas/responsive/parejaparaguas_959.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-6
		section.img-portada
			background url('/img/portadas/responsive/papahijo_959.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-7
		section.img-portada
			background url('/img/portadas/responsive/perrito_959.jpg') 50% 0 no-repeat fixed
			background-size cover

	#portada
		.centrada
			padding 0
			.center
				.godown
					margin-top -35px

	.texto-principal
		padding-top 35px
		font-size 35px
		line-height 110%
	.sub-principal
		line-height 115%
		font-size 60px

	.texto-portada
		font-size 35px
		left 0
		right 0
		top 0
		bottom 0
		margin-left auto
		margin-right auto
		margin-top auto
		margin-bottom auto

	.slide
		.info-features
			height 1450px
			div.container
				div.row-fluid
					div.center
						a.arrow-down
							margin-top 39%
		.info-portada-ultima
			div.container
				div.center
					h3.texto-portada
						font-size 27px

	.funciona
		width 80%

	.feature
		background-color transparent
		-webkit-border-radius 25px
		-moz-border-radius 25px
		-o-border-radius 25px
		-ms-border-radius 25px
		height 420px
		width 100%
		margin 0 auto
		padding 0
		margin-top -10px

		.info 
			p
				font-family 'Ubuntu'
				/*font-style italic*/
				font-size 20px
				line-height 120%
				margin-top -35px
	.contenedor
		width 30%
		height 250px
		margin 0 auto
		padding 0
		margin-top 10%

	#contact
		.container
			article
				div.row-fluid
					div.termino,div.email,div.social
						width 100%
					div.termino
						margin 0
						a.terminos
							margin 0 auto
							padding 0
							margin-top 0
							text-align center
							text-decoration underline
					div.email
						margin 0
						div.center
							margin-top -4px
					div.social
						margin-left 0
						margin-top -20px
					div.derecho
						margin 0 auto
						padding 0
						width 100%
						text-align center
						p
							margin 0 auto
							padding 0
							width 100%
					div.offset1
						margin-top 10px
						margin-bottom: 25px;
						div.span12
							h6
								display none
							p.correo
								margin-bottom 25px
								margin-top 10px
								margin-left 0
								background-color #9df41c
								color #000
								padding-top 10px
						h5
							display none

@media only screen and (min-width: 480px) and (max-width:767px)
	body
		margin 0
		padding 0

	nav
		height 75px
		.navegacion
			width 100%
			height 75px

			img
				width 100%

			div.brand, div#pull
				display inline-block
				vertical-align middle
			div.brand
				text-align center
				width 40%

			div#pull
				width 50%
				text-align right
				cursor pointer
				img
					width 35px
			div#menu-responsive
				width 100%
				background-color rgb(255, 255, 255)

				ul
					list-style none

					li
						padding-top 25px
			div.text-header
				display none

			div.social-menu
				display none

	.facebook-share, .twitter-share, .instagram-share
		font-size 40px
	.twitter-share
		background-position -45px 0
		&:hover
			background-position -45px 0
	.instagram-share
		background-position -90px 0
		&:hover
			background-position -90px 0
			
	.centrada
		width 100%
		left -15px

	section.img-portada
		width 100%
		height 630px

	#portada
		section.img-portada
			background url('/img/portadas/responsive/portada_767.jpg') center 0 no-repeat fixed
			background-size cover

	#div-2
		section.img-portada
			background url('/img/portadas/responsive/skater_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-3
		section.img-portada
			background url('/img/portadas/responsive/ban_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-4
		section.img-portada
			background url('/img/portadas/responsive/celular_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-5
		section.img-portada
			background url('/img/portadas/responsive/parejaparaguas_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-6
		section.img-portada
			background url('/img/portadas/responsive/papahijo_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-7
		section.img-portada
			background url('/img/portadas/responsive/perrito_767.jpg') 50% 0 no-repeat fixed
			background-size cover

	#portada
		.centrada
			padding 0
			.center
				.godown
					margin 0 auto
					padding 0 
					width 60px
					margin-top -135px
					a.arrow-down
						width 100%

	.texto-principal
		padding-top 35px
		font-size 30px
		line-height 110%
	.sub-principal
		line-height 115%
		font-size 60px

	.texto-portada
		font-size 28px
		left 0
		right 0
		top 0
		bottom 0
		margin-left auto
		margin-right auto
		margin-top auto
		margin-bottom auto

	.slide
		.info-features
			height 1350px
			div.container
				div.row-fluid
					div.center
						a.arrow-down
							margin 0 auto
							padding 0
							width 60px
							margin-top 45%
		.info-portada-ultima
			div.container
				div.center
					h3.texto-portada
						font-size 20px
	.arrow-down
		margin 0 auto
		padding 0
		width 60px
		margin-top -5px
	.funciona
		width 80%

	.feature
		background-color transparent
		-webkit-border-radius 25px
		-moz-border-radius 25px
		-o-border-radius 25px
		-ms-border-radius 25px
		height 420px
		width 100%
		margin 0 auto
		padding 0
		margin-top -10px

		.info
			padding-top 34px
			p
				font-family 'Ubuntu'
				/*font-style italic*/
				font-size 20px
				line-height 120%
				margin-top -35px
	.tag, .gift,.guest
		width 110px
		top 12%
		left -12%
	.gift
		background-position -110px 0
	.guest
		background-position -220px 0

	.contenedor
		width 170px
		height 220px
		margin 0 auto
		padding 0
		margin-top 10%

	.newlester
		margin-left 0

	#contact
		.container
			article
				div.row-fluid
					div.span3
						margin-bottom 10px
						a.terminos
							text-align center
							text-decoration underline
					div.offset1
						margin-top 10px
						margin-bottom: 25px;
						div.span12
							h6
								display none
							p.correo
								margin-bottom 25px
								margin-top 10px
								background-color #9df41c
								color #000
								padding-top 10px
						h5
							display none

@media only screen and (min-width: 320px) and (max-width:479px)
	body
		margin 0
		padding 0

	nav
		height 65px
		.navegacion
			width 100%
			height 65px

			img
				width 100%

			div.brand, div#pull
				display inline-block
				vertical-align bottom
			div.brand
				text-align center
				width 40%

			div#pull
				width 50%
				text-align right
				cursor pointer
				img
					width 35px
			div#menu-responsive
				width 100%
				background-color rgb(255, 255, 255)

				ul
					list-style none

					li
						padding-top 25px
			div.text-header
				display none

			div.social-menu
				display none

	.facebook-share, .twitter-share, .instagram-share
		font-size 40px
	.twitter-share
		background-position -45px 0
		&:hover
			background-position -45px 0
	.instagram-share
		background-position -90px 0
		&:hover
			background-position -90px 0
			
	.centrada
		width 100%
		left -5px
		padding 0
		top -175px

	section.img-portada
		width 100%
		height 425px

	#portada
		section.img-portada
			background url('/img/portadas/responsive/portada_767.jpg') 50% 0 no-repeat fixed
			background-size cover

	#div-2
		section.img-portada
			background url('/img/portadas/responsive/skater_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-3
		section.img-portada
			background url('/img/portadas/responsive/ban_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-4
		section.img-portada
			background url('/img/portadas/responsive/celular_767.jpg') center 0 no-repeat fixed
			background-size cover
	#div-5
		section.img-portada
			background url('/img/portadas/responsive/parejaparaguas_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-6
		section.img-portada
			background url('/img/portadas/responsive/papahijo_767.jpg') 50% 0 no-repeat fixed
			background-size cover
	#div-7
		section.img-portada
			background url('/img/portadas/responsive/perrito_767.jpg') 50% 0 no-repeat fixed
			background-size cover

	#portada
		.centrada
			.center
				.godown
					margin 0 auto
					padding 0 
					width 10%
					margin-top -160px
					a.arrow-down
						width 100%

	.texto-principal
		padding-top 35px
		font-size 30px
		line-height 110%
	.sub-principal
		line-height 115%
		font-size 50px

	.texto-portada
		font-size 19px
		left 0
		right 0
		top 0
		bottom 0
		margin-left auto
		margin-right auto
		margin-top auto
		margin-bottom auto

	.titleh
		line-height 100%

	.slide
		.info-features
			height 1350px
			div.container
				div.row-fluid
					div.span11
						div.feature
							height 370px
					div.center
						a.arrow-down
							margin 0 auto
							padding 0
							width 10%
							margin-top 70%
		.info-portada-ultima
			div.container
				div.center
					h3.texto-portada
						font-size 18px
	.arrow-down
		margin 0 auto
		padding 0
		width 10%
		margin-top -5px
	.funciona
		width 80%

	.feature
		background-color transparent
		-webkit-border-radius 25px
		-moz-border-radius 25px
		-o-border-radius 25px
		-ms-border-radius 25px
		height 420px
		width 100%
		margin 0 auto
		padding 0
		margin-top -10px

		.info
			padding-top 34px
			p
				font-family 'Ubuntu'
				/*font-style italic*/
				font-size 20px
				line-height 120%
				margin-top -35px
	.tag, .gift,.guest
		width 100px
		top 10%
		left -12%
	.gift
		background-position -100px 0
	.guest
		background-position -200px 0

	.contenedor
		width 150px
		height 220px
		margin 0 auto
		padding 0
		margin-top 10%

	.newlester
		margin-left 0

	#contact
		.container
			article
				div.row-fluid
					div.span3
						margin-bottom 10px
						a.terminos
							text-align center
							text-decoration underline
					div.offset1
						margin-top 10px
						margin-bottom: 25px;
						div.span12
							h6
								display none
							p.correo
								margin-bottom 25px
								margin-top 10px
								background-color #9df41c
								color #000
								padding-top 10px
						h5
							display none



