html{background-color:#fff}
body{background-color:transparent}
header figure,header nav{display:inline-block;vertical-align:middle;height:100%}
header figure{background-color:#ecf0f1;width:25%}
header nav{margin-left:15px;width:70%;}
header nav ul{height:100%;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
header nav ul li{display:inline-block;height:100%;margin-left:10px;margin-right:15px;padding:20px;vertical-align:top;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
header nav ul li a{color:#fff;font-size:18px;font-family:'Montserrat','Arial'}
header nav ul li a:hover{color:#fff;text-decoration:none}
header nav ul li:hover{background-color:rgba(188,249,149,0.6);cursor:pointer;-webkit-transition:all .3s ease-in-out}
.fixed{width:100%;position:fixed;top:0;left:1px;z-index:9999}
section.img-portada{width:100%;height:700px}
#portada section.img-portada{background:url("/img/portadas/portada.jpg") center 0 no-repeat fixed;background-size:cover}
#div-2 section.img-portada{background:url("/img/portadas/skater.jpg") 50% 0 no-repeat fixed;background-size:cover}
#div-3 section.img-portada{background:url("/img/portadas/ban.jpg") 50% 0 no-repeat fixed;background-size:cover}
#div-4 section.img-portada{background:url("/img/portadas/celular.jpg") 50% 0 no-repeat fixed;background-size:cover}
#div-5 section.img-portada{background:url("/img/portadas/parejaparaguas.jpg") 50% 0 no-repeat fixed;background-size:cover}
#div-6 section.img-portada{background:url("/img/portadas/papahijo.jpg") 50% 0 no-repeat fixed;background-size:cover}
#div-7 section.img-portada{background:url("/img/portadas/velero.png") 50% 0 no-repeat fixed;background-size:cover}
.centrada,.centrada-success{border-radius:15px;padding:10px 45px 10px 45px;position:absolute;z-index:1}
.centrada{left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;width:65%;height:60%}
.centrada-success{background-color:rgba(66,11,10,0.3);left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;width:65%;height:55%}
.italic-portada-success{color:#fff;font-family:'Exo 2';font-style:none;font-weight:500;line-height:110%;font-size:20px}
.hashtag{color:#fff;font-family:font-family 'Exo 2';font-size:50px;font-weight:500,bold;line-height:120%}
.texto-principal{color:#fff;font-family:'Exo 2';font-style:'Semi Bold';font-size:40px;line-height:120%}
.texto-principal-sucess{color:#fff;font-family:'Ubuntu';font-size:35px;line-height:120%}
.slide .info-portada,.slide .info-features,.slide .info-portada-ultima{background-color:rgba(188,249,149,0.6);color:#fff}
.slide .info-portada,.slide .info-features{padding:130px 0 0 0;height:550px}
.slide .info-portada-ultima{padding:100px 0 0 0;height:350px}
.slide .info-features{padding:60px 0 100px 0;position:relative;height:600px;overflow:hidden;background-image:url("/img/iconos/como_funciona/Mitad.png");background-repeat:no-repeat;background-position:0 50px;background-size:25%;}
.slide .info-features .section-feature{width:33.33%;display:inline-block;vertical-align:top}
.texto-portada,.subtitulo-portada{font-family:'Exo';font-weight:600;line-height:135%;color:#fff}
.texto-portada{font-size:45px;padding-bottom:10px;left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto}
.tiny{font-size:25px}
.negrita{font-family:"Exo 2";font-style:"Black"}
.feature{background-color:transparent;-webkit-border-radius:25px;-moz-border-radius:25px;-o-border-radius:25px;-ms-border-radius:25px;height:600px;width:35%;margin:0 auto;padding:0;margin-top:-10px;}
.feature .info p{font-family:'Ubuntu';font-size:20px;line-height:120%;margin-top:-35px}
.funciona{width:50%;margin:0 auto;padding:0;text-align:center;color:#fff}
.half{background-image:url("/img/half-logo.png");background-repeat:no-repeat;float:left;position:relative;width:150px;height:250px;z-index:1}
.titleh{font-family:'Exo 2';font-weight:800;font-size:46px;color:#fff}
.sub{font-family:'Exo 2';font-weight:600;font-size:22px;color:#a7a9ac}
.texto{font-family:'Ubuntu';font-size:16px;color:#a7a9ac}
.sub-principal{font-family:'Ubuntu';font-weight:bold;line-height:125%;font-size:65px;color:#fff}
.sub-info{font-weight:bold;color:#a7a9ac}
.sub-texto{font-size:35px}
.title-feature{color:#fff;font-family:'Exo';font-weigth:bold;font-size:35px;margin-top:-23px}
.titulo1{color:#e66100}
.titulo2{color:#b028ea}
.titulo3{color:#fbd306}
.tag,.gift,.guest{background-image:url("/img/iconos/como_funciona.png");background-size:300%;background-repeat:no-repeat;margin-top:5%;margin-bottom:4%;margin-left:30%;position:relative;top:15%;left:-15%;width:135px;height:135px}
.contenedor{background-image:url("/img/iconos/como_funciona/fondo.png");background-repeat:no-repeat;background-size:100%;width:55%;height:200px;margin:0 auto;padding:0;}
.tag:hover,.gift:hover,.guest:hover{cursor:pointer;-webkit-animation:ringing 4s 7 ease .3s;-moz-animation:ringing 4s 7 ease .3s;-o-animation:ringing 4s 7 ease .3s;-ms-animation:ringing 4s 7 ease .3s}
.tag{background-position:0 0}
.gift{background-position:-135px 0;top:23%}
.guest{background-position:-270px 0}
.facebook,.twitter,.instagram,.facebook-success:hover,.twitter-success:hover{background-image:url("/img/iconos/networks.png");background-size:300%;background-repeat:no-repeat;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.arrow-down,.arrow-up,.arrow-left,.arrow-right{background-image:url("/img/iconos/arrows.png");background-size:400%;background-repeat:no-repeat;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;width:60px;height:60px;margin-top:8%;margin:0;position:relative;display:block}
.arrow-down:hover,.arrow-up:hover,.arrow-left:hover,.arrow-right:hover{background-image:url("/img/iconos/arrow_hover.png");background-size:400%;background-repeat:no-repeat;cursor:pointer;width:60px;height:60px}
.facebook:hover,.twitter:hover,.instagram:hover,.facebook-success,.twitter-success{background-image:url("/img/iconos/networks_hover.png");background-size:300%;background-repeat:no-repeat}
.facebook-success,.twitter-success{width:55px;height:65px}
.facebook-success{background-position:0 0;}
.facebook-success:hover{background-position:0 0}
.twitter-success{background-position:-75px 0;}
.twitter-success:hover{background-position:-75px 0}
a.arrow-down{background-position:0 0;margin-top:20px;}
a.arrow-down:hover{background-position:0 0}
a.arrow-up{margin-top:-40px;margin-left:30px;background-position:-60px 0}
a.up-feature{height:60px;width:60px;margin:0 auto;padding:0}
a.arrow-left{background-position:-120px 0}
a.arrow-right{background-position:-180px;position:relative;z-index:3;margin-top:-25%}
.facebook,.twitter,.instagram{margin:0;padding:0;width:15px;height:22px}
.facebook{background-position:0 0;}
.facebook:hover{background-position:0 0}
.twitter{background-position:-35px 0;}
.twitter:hover{background-position:-35px 0}
.instagram{background-position:-70px 0;}
.instagram:hover{background-position:-70px 0}
.facebook-share,.twitter-share,.instagram-share{background-image:url("/img/iconos/networks.png");background-size:300%;background-repeat:no-repeat;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.facebook-share:hover,.twitter-share:hover,.instagram-share:hover{background-image:url("/img/iconos/networks_hover.png");background-size:300%;background-repeat:no-repeat}
.facebook-share,.twitter-share,.instagram-share{width:20px;height:30px}
.facebook-share{background-position:0 0;}
.facebook-share:hover{background-position:0 0}
.twitter-share{background-position:-30px 0;}
.twitter-share:hover{background-position:-30px 0}
.instagram-share{background-position:-60px 0;}
.instagram-share:hover{background-position:-60px 0}
.newlester{background-color:transparent;border-radius:25px;margin-left:100px;margin-top:5px;}
.italic-portada{color:#fff;font-family:'Exo 2';font-style:italic;font-weight:500;line-height:110%;font-size:30px}
.registro-newlester{margin-top:5px;padding-top:15px;}
.registro-newlester form #txtMail,.registro-newlester form a.submit{vertical-align:top}
.registro-newlester form #txtMail{color:#868686;width:60%;height:25px;margin-right:10px;margin-top:2px}
.registro-newlester form button{border:none;background-color:transparent;height:40px;}
.registro-newlester form button img{width:135px}
.registro-newlester form button:hover{border:none}
.registro-newlester form button:active,.registro-newlester form button:focus{border:none;outline:0}
.registro-newlester form a.submit{width:85px;}
.registro-newlester form a.submit img{width:85px}
a.terminos{color:#000;font-size:14px;margin:0;padding:0;text-transform:none;font-weight:700;}
a.terminos:first-child{margin-top:15px}
a.terminos:hover{cursor:pointer;text-decoration:underline}
.innomobs{color:#000;text-decoration:underline;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.innomobs:hover{cursor:pointer;color:#8e44ad}
#contact{background-color:#fff}
.terminos-privacidad{background-color:#fff;margin:0 auto;padding:0;padding:0 15px 15px 20px;position:absolute;left:3%;margin-top:65px;}
.terminos-privacidad .titulo-terminos,.terminos-privacidad .texto-terminos,.terminos-privacidad .sub-terminos,.terminos-privacidad .sub-privacidad{font-family:"Exo 2"}
.terminos-privacidad .titulo-terminos{font-size:45px;text-align:center}
.terminos-privacidad .sub-terminos{font-size:23px;text-align:left;text-decoration:underline;text-transform:uppercase}
.terminos-privacidad .sub-privacidad{font-size:20px;text-align:left}
.terminos-privacidad .texto-terminos{font-size:19px;text-align:justify}
.terminos-privacidad article ul li p{font-family:"Exo 2";font-size:19px;text-align:justify}
.terminos-privacidad article ul li.list-terminos{font-family:"Exo 2";font-size:19px;padding-top:3px;padding-bottom:3px;text-align:justify}
